
<div class="area-seleccion container-fluid position-absolute top-50 start-50 translate-middle">
  <div class="seleccion" >
    <div *ngFor="let luchador of luchadores" class="imagen col-md-6" [style.background-color]="luchador.colorAsociado" (click)="EnvDatosLuchador(luchador)">
      <img [src]="luchador.retrato" [alt]="luchador.nombre" class="img-fluida">
    </div>
  </div>
  <div class="espacio-animacion">
    <img [src]="animacion" class="animacion">
  </div>
  <app-atributos-luchador></app-atributos-luchador>
</div>


