.cuerpo{
    width: 100vw;
    height: 100vh;
    background-image: url("./../assets/fondo_stage.jpg");
    background-size: cover;
}
.imagen{
    background-image: url("./../assets/letras.png");
    width: 700px;
    height: 315px;
    margin-top: 150px;  
}
